
<label>Name</label>
<p class="previous_company_info"> <%= @new_company.name %></p>
<label>Title</label>
<p class="previous_company_info"> <%= @new_company.job_title %></p>
<label>Roles/Responsibilities</label>
<p class="previous_company_info"> <%= @new_company.roles %></p>
