<p>Hi <%=@user.first_name %> </p>
<p> Thanks for signing up to Hobnob</p>
<br>
<p>Thanks for using Hob Nob! The best way to connect with Finance professionals.</p>
<p>Please save this e-mail as a reference.</p>


<p>1. Verify Your Email Address</p>

<p><%= link_to "Confirm Email", edit_account_activation_url(@user.activation_token, email: @user.email) %><p>

<br>
<p>2. Customer Support</p>
<p>Email Support: info@hobnob.global  or karen@thepelikangroup.com </p>
<p>We will get back to you within 24-hours.</p>
<p>If this is urgent, please text to 416.300.9162 between 7:00am and 7:00pm EST.</p>

<br>


<p>Get Networking!</p>
<p>The Hob Nob Team</p>


