<header class="calendar_page">
</header>


<div id="calendar-container">



  <div class='small-12 medium-9 large-8 columns'>
    <%= month_calendar events: @advisor_appointments do |date, appointments| %>
    <%= date.day %>

    <% appointments.each do |appointment| %>
    <div>

      <%= appointment.title %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>



