<p> Hi <%= @advisor.firstname %>,</p>

<p>Thank you for volunteering to be a professional on the Hob Nob Network! As a professional on the Network, you are creating an instant global network for your own career and benefitting those in need. A portion of every connection fee will be donated to a Charity of your choice.</p>

<p> Please save this e-mail as a reference. To return to the site click www.hobnob.global, to edit your profile, please log in with the same email and password you used to create your profile. If you forget your password, there is an option to reset.</p>


<p>1. Please make sure to block out your work calendar with all dates and times entered into the Hob Nob site. We respect and appreciate your time and know that there are always business related issues that might arise and we are ready to accommodate. Please edit as your business calendar changes or provide us with as much notice as possible and we will make the updates for you.</p>

<br>

<p>2. HOB NOB Network Support </p>

<p> Email Support: Karen Berlin at karen@thepelikangroup.com </p>

<p> We will get back to you within 24-hours. </p>

<p>If this is urgent, please text to 416.300.9162 between 7:00am and 7:00pm EST.</p>

<p>Thank you!</p>

<p>The PeliKan Group Inc. and the Hob Nob Team</p>

