    <% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
    <p class="error-message"><%= msg %></p>
    <% end %>
    <% end %>

    <%= form_for @user do |f| %>

  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>





    <% end %>