<div id="element_to_pop_up">
        <div class='row' id="popup-box">
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Corporate Finance Roles</h3>
            <ul class="popup-subtopic-list">
              <li>Corporate Strategy</li>
              <li>Corporate Finance</li>
              <li>Corporate Tax</li>
              <li>Corporate Development</li>
              <li>Financial Analyst</li>
              <li>Investor Relations</li>
              <li>Risk Management</li>
              <li>Compliance</li>
              <li>Analytics</li>
              <li>Economist</li>
              <li>Treasury</li>
              <li>Procurement</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'> Investment/Wholesame Banking (Sell Side)</h3>
            <ul class="popup-subtopic-list">
              <li>Equity Research</li>
              <li>Credit/Fixed Income Research</li>
              <li>Operations</li>
              <li>Prime Brokerage</li>
              <li>Trade Finance</li>
              <li>International Finance</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'> Investment Banking(IB - Front Office)</h3>
            <ul class="popup-subtopic-list">
              <li>M&A</li>
              <li>Industry (Advisory)</li>
              <li>ECM</li>
              <li>DCM</li>
              <li>Leveraged Finance (mostly US)</li>
              <li>Corporate Banking</li>
              <li>Real Estate Finance</li>
            </ul>
          </div>
        </div>
        <div class='row'>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Sales & Tranding(S&T - Front Office)</h3>
            <ul class="popup-subtopic-list">
              <li>Equities</li>
              <li>Fixed Income</li>
              <li>Foreign Exchange</li>
              <li>Derivatives/Structured Products</li>
              <li>Commodities</li>
              <li>Quants</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Asset Management (Buy Side)</h3>
            <ul class="popup-subtopic-list">
              <li>Private Equity</li>
              <li>Pension Funds</li>
              <li>Hedge Funds</li>
              <li>Venture Capital</li>
              <li>Global Asset Management</li>
              <li>High Net Worth Clients (Private Banking)</li>
              <li>Financial Advisors</li>
              <li>Portfolio Management</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Other Exciting Roles in Finance</h3>
            <ul class="popup-subtopic-list">
              <li>Entrepreneurs/Start-Ups</li>
              <li>Teaching & Training</li>
              <li>Commercial Banking</li>
              <li>Management Consulting & Accounting Firms - Financial Services Advisory Groups</li>
              <li>Government Finance</li>
              <li>Financial Media</li>
              <li>Student Ambassadors (Global MBA students and Undergrads)</li>
            </ul>
          </div>
        </div>
      </div>