<div class="small-12 medium-12 large-11 columns" id="category_pop_up_phone">
 <div class='row'>
  <button id='close' class='fa fa-times fa-2'></button>
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <p class='popup_header_text'>Corporate Finance </p>
      <ul class="popup-subtopic-list">
        <li>Corporate Strategy</li>
        <li>Corporate Tax</li>
        <li>Corporate Development</li>
        <li>Corporate Financial Planning & Analysis </l1>
          <li>Financial Sales</li>
          <li>Investor Relations</li>
          <li>Risk Management</li>
          <li>Compliance</li>
          <li>Analytics</li>
          <li>Economics</li>
          <li>Treasury</li>
        </ul>
      </div>
      <div class="row">
        <p class='popup_header_text'>Asset Management(Buy Side)</p>
        <ul class="popup-subtopic-list">
          <li>Private Equity</li>
          <li>Institutional Asset Management(pension funds,endowment funds,etc.)</li>
          <li>Hedge Funds</li>
          <li>Venture Capital / Angel Investment</li>
          <li>Global Asset Management</li>
          <li>High Net Worth Clients (Private Banking)</li>
          <li>Financial Advisors</li>
          <li>Portfolio Management</li>
        </ul>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <div class="row">
        <p class='popup_header_text'> Investment/Wholesale Banking (Sell Side)</p>

        <ul class="popup-subtopic-list">
          <li class='popup_sub_header'>Investment Banking(IB - Front Office)</li>
          <li>M&A(Product) and Industry (Advisory)</li>
          <li>ECM and DCM</li>
          <li>Leveraged Finance (mostly US)</li>
          <li>Corporate Banking</li>
          <li>Real Estate Finance</li>
        </ul>

        <ul class="popup-subtopic-list">

          <li class='popup_sub_header'> Sales & Trading (S&T - Front Office)</li>
          <li>Equities</li>
          <li>Fixed Income</li>
          <li>Commodities</li>
          <li>Quantitative Finance</li>
          <li>Foreign Exchange</li>
          <li>Derivatives/Structured Products</li>
        </ul>

        <ul class="popup-subtopic-list">
          <li class='popup_sub_header'> Other areas of Investment/Wholesale Banking</li>
          <li>Equity Research</li>
          <li>Credit/Fixed Income Research</li>
          <li>Operations (Middle & Back office)</li>
          <li>Prime Brokerage</li>
          <li>Trade Finance</li>
          <li>International Finance</li>
        </ul>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <div class="row">
        <p class='popup_header_text'>Other Areas of Expertise in Finance</p>
        <ul class="popup-subtopic-list">
          <li>Entrepreneurs/Start-Ups</li>
          <li>Teaching & Training</li>
          <li>Corporate & Commercial Banking</li>
          <li>Management Consulting & Accounting Firms - Financial Services</li>
          <li>Advisory Groups</li>
          <li>Government Finance</li>
          <li>Financial Media</li>
          <li>Student Ambassadors (Global MBA students and Undergrads)</li>
        </ul>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <div class="row">
        <p class='popup_header_text'>Resume & Interview Preparation</p>
        <ul class="popup-subtopic-list">
          <li>(each of these sessions are 1 hour and require extra pre-work) Designated experts in this area have experience working with investment Banks and Finance divisions on both Wall Street and Bay Street</li>
          <li>Resume Review and Enhancements</li>
          <li>Interview Preparation (for a specific interview or general guidelines)</li>
          <li>Overall Career Guidance</li>
        </ul>
      </div>
    </div>
  </div>
</div>
