<div class="small-12 medium-12 large-11 columns" id="question_pop_up_phone">
 <div class='row'>
  <button id='close_question' class='fa fa-times fa-2'></button>
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <ul class="popup-subtopic-list-question">
        <li>What are your preliminary job responsibilities?</li>
        <li>What experience,if any, did you have to get your job?</li>
        <li>What is a typical work day like? Is there a typical day?</li>
        <li>How much client contact do you have?</l1>
          <li>Does your job require that you travel?</li>
          <li>What do you like/dislike most about your work?</li>
          <li>What do you wish you had known about your role before you started?</li>
          <li>What is the size and makeup of your organization?</li>
          <li>What do you see as the major issues/trends in the field today?</li>
          <li>What books or journals would you recommend that I read?</li>
          <li>Which professional associations should I join?</li>
          <li>Do you recommend that I enroll in any particular classes or get any specific certifications?</li>
          <li>What opportunities for advancement are there in the field?</li>
          <li>What would be a typical next career move for someone in my position?</li>
          <li>What recommendations do you have for me regarding a job search strategy?</li>
          <li>Are there other people on the Hob Nob Network toy suggest that I speak with?</li>
        </ul>
      </div>
    </div>
  </div>
</div>
