<div class="small-12 medium-12 large-11 columns" id="fee_pop_up_phone">
 <div class='row'>
  <button id='close_fee' class='fa fa-times fa-2'></button>
  <div class="small-12 medium-12 large-4 columns">
    <div id='fee-phone-row' class="row">
      <p>Each connection is 30 minutes </p>
      <p>You will be provided with a call in number as well as a confirmation calendar invite </p>
      <ul class="popup-subtopic-list-question">
        <li>$40/$30 minute session </li>
        <li>STUDENT RATE is $30/30 minute session </li>
      </ul>
      <p>Includes professionals on the Network from all locations and from all seas of expertise with up to 15 years of experience </p>
    </div>
  </div>
  <div class="small-12 medium-12 large-4 columns">
    <div id='fee-phone-row' class="row">
      <p>If you select a professional from the Network with more than 15 years of experience </p>
      <ul class="popup-subtopic-list-question">
        <li>$60/30 minute session </li>
        <li>STUDENT RATE is $50/30 minute session </li>
      </ul>
      <p>A 15 minute prep session will be arranged to ensure that you get the most value from the call </p>
    </div>
  </div>
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <p>ALL resume review and interview prep sessions with an expert from that Area of Expertise are 60 minutes </p>
      <ul class="popup-subtopic-list-question">
        <li>$60/60 minute session </li>
        <li>STUDENT RATE is $50/60 minute session </li>
      </ul>
    </div>
  </div>
</div>
</div>
