<div class="small-12 medium-12 large-11 columns" id="element_to_pop_up">
  <div class='row'>
    <div class="small-12 medium-12 large-4 columns">
      <p class='popup_header_text'>Corporate Finance Roles</p>
      <ul class="popup-subtopic-list">
        <li>Corporate Strategy</li>
        <li>Corporate Finance</li>
        <li>Corporate Tax</li>
        <li>Corporate Development</li>
        <li>Financial Analyst</li>
        <li>Investor Relations</li>
        <li>Risk Management</li>
        <li>Compliance</li>
        <li>Analytics</li>
        <li>Economist</li>
        <li>Treasury</li>
        <li>Procurement</li>
      </ul>
      <ul class="popup-subtopic-list">
        <p class='popup_header_text'>Asset Management (Buy Side)</p>
        <li>Private Equity</li>
        <li>Pension Funds</li>
        <li>Hedge Funds</li>
        <li>Venture Capital</li>
        <li>Global Asset Management</li>
        <li>High Net Worth Clients (Private Banking)</li>
        <li>Financial Advisors</li>
        <li>Portfolio Management</li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <p class='popup_header_text'> Investment/Wholesale Banking (Sell Side)</p>
      <ul class="popup-subtopic-list">
        <h4 class='popup_sub_header'>Investment Banking(IB - Front Office)</h4>
        <li>M&A and Industry (Advisory)</li>
        <li>ECM and DCM</li>
        <li>Leveraged Finance (mostly US)</li>
        <li>Corporate Banking</li>
        <li>Real Estate Finance</li>
        <h4 class='popup_sub_header'> Sales & Trading (S&T - Front Office)</h4>
        <li>Equities</li>
        <li>Fixed Income</li>
        <li>Commodities</li>
        <li>Quants</li>
        <li>Foreign Exchange</li>
        <li>Derivatives/Structured Products</li>
        <h4 class='popup_sub_header'> Other areas of Investment/Wholesale Banking</h4>
        <li>Equity Research</li>
        <li>Credit/Fixed Income Research</li>
        <li>Operations (Middle & Back office)</li>
        <li>Prime Brokerage</li>
        <li>Trade Finance</li>
        <li>International Finance</li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <p class='popup_header_text'>Other Areas of Expertise</p>
      <ul class="popup-subtopic-list">
        <li>Entrepreneurs/Start-Ups</li>
        <li>Teaching & Training</li>
        <li>Commercial Banking</li>
        <li>Management Consulting & Accounting Firms - Financial Services Advisory Groups</li>
        <li>Government Finance</li>
        <li>Financial Media</li>
        <li>Student Ambassadors (Global MBA students and Undergrads)</li>
      </ul>
      <br>
      <ul class="popup-subtopic-list">
        <p class='popup_header_text'>Resume & Interview Preparation</p>
        <li> Experts have experience working with Investment Banks and Finance divisions on both Wall Street and Bay Street</li>
        <li> - Resume Review and Enhancements</li>
        <li> - Interview Preparation for a specific interview or general guidelines</li>
        <li>Overall Career Guidance</li>
      </div>
    </div>
  </div>