<div class="small-12 medium-12 large-11 columns" id="popup-levels">
  <div class="row">
    <div class="small-12 medium-12 large-4 columns">
      <p class="popup-year-range">1-5 Years</p>
      <p class="popup-info-text">Network professional will have up to 5 years of Finance experience in one or two different categories.  They still remember the interview process and how challenging it is to decide what to do after graduation. They can speak with you about summer internships, what companies look for in a good candidate.</p>
      <p class="popup-info-text">Highly recommended for students or newly hired professionals.</p>
    </div>

    <div class="small-12 medium-12 large-4 columns">
      <p class="popup-year-range">5-15 Years</p>
      <p class="popup-info-text">Network professional will have between 5 and 15 years of experience in various different categories or at the same company with different titles and responsibility. They can speak with you about promotion or performance management advice, career paths, or advice about office issues</p>
      <p class="popup-info-text">Highly recommended for working professionals.</p>

      <p class="popup-info-text">Students that want to understand the career path in a certain Finance category and how it’s done.</p>
    </div>

    <div class="small-12 medium-12 large-4 columns">
      <p class="popup-year-range">15+ Years</p>
      <p class="popup-info-text">Network professional will have over 15+ years of experience in various different categories and a diverse list of titles and stories about themselves and the industry they work in. They can speak with you about the industry direction, leadership, any your career path.</p>

      <p class="popup-info-text">Highly recommended for working professionals and students that want information and guidance about Finance.</p>
    </div>
  </div>
</div>