<div class="small-12 medium-12 large-11 columns" id="location_pop_up_phone">
 <div class='row'>
  <button id='close_location' class='fa fa-times fa-2'></button>
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <p class='popup-subtopic-list'> We are launching Hob Nob with plans to expand to other global financial centres around the world. Most of our current Network professionals live and work in Toronto area. There are some professionals that work, or have worked, in other parts of the world and will be able to provide some insight about working in that location and about how they found that opportunity.
      </p>
    </div>
  </div>

  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <ul class="popup-subtopic-list">
        <li><span id='toronto'>Toronto</span> * Calgary * Vancouver * Montreal</li>
        <br>
        <li>New York City * Houston * San Francisco * Boston * Chicago </li>
        <br>
        <li>London * Singapore * Hong Kong * Dubai * Shanghai</li>
        <br>
        <li>Locations soon to be added: </li>
        <li>Tokyo * Singapore * Zurich * Seoul * Washington D.C * Frankfurt * Sydney </li>
      </ul>
    </div>
  </div>
</div>
</div>
