<div class="small-12 medium-12 large-11 columns" id="year_pop_up_phone">
 <div class='row'>
  <button id='close' class='fa fa-times fa-2'></button>
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <p class='popup_header_text'>1-5 YEARS OF EXPERIENCE </p>
      <p>Network professional will have up to 5 years of Finance experience in one or more areas of expertise. They still remember the interview process and how challenging it is to decide what to do after graduation. They can speak with you about summer internships, what companies look for in a good candidate, and share insights about what to expect in the interview process.</p>
      <br>
      <p class='popup_header_text_2'>Highly recommended for students & newly hired professionals</p>
    </div>
  </div>
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <p class='popup_header_text'>5-15 YEARS OF EXPERIENCE </p>
      <p>Network professional will have between 5 and 15 years of experience in various categories or at the same company with different titles and responsibilities.</p>
      <p>They can speak to you about promotion or performance management advice,career paths, or advice about office issues. </p>
      <br>
      <p class='popup_header_text_2'>Highly recommended for working professionals & students wanting to understand a career path in a certain Finance area</p>
      <br>
    </div>
  </div>
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <p class='popup_header_text'>15+ YEARS OF EXPERIENCE </p>
      <p>Network professional will have over 15+ years of experience in various different categories and a diverse list of titles and stories about themselves and the industry they work in.</p>
      <p>They can speak with you about the industry direction, leadership, any your career path. </p>
      <br>
      <p class='popup_header_text_2'>Highly recommended for working professionals & students that want information and guidance about Finance industry.</p>
      <br>
    </div>
  </div>
</div>
</div>
