
<div class="about">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns" id="about-subtext">
      <p >Differentiate yourself in a competitive market</p>
      <p id='about_1'>Be in the know</p>
      <p id='about_2'>Be better prepared</p>
    </div>
  </div>
</div>

<div class="about_container_1">
  <div class="row">
    <img src="/assets/logo_lrg.png"/>
    <div class="small-12 medium-12 large-6 columns" id="about_container_1_subtext">
      <p>Everyone on the network was selected because they have a great story to share, they have expertise in one or several categories of Finance, and they want to speak with you about your career. Each professional has volunteered their time and energy and is supporting their industry, community, and charity of choice. A portion of all fees represents a donation to that charity on behalf of the Finance professional.</p>
      <p>The more time you spend researching and speaking with professionals in your chosen field, the better chance you will have in uncovering an amazing career opportunity. You will save time and frustration by avoiding areas of Finance that don’t match your skill set or interest you and you will greatly increase your chances of being selected during the interview process. Knowledge about the role and industry you are entering is a very powerful resource.This is not an opportunity to ask for a job. This is an opportunity to network with working professionals to find out more about the people and opportunities in different areas of finance. Please respect the privacy and time of the busy professionals in the Network.</p>
      <p>We have represented the Finance Industry in this format knowing that job titles, roles, and locations are subject to change and do not represent every option within Finance. Some companies have different titles and structures and may not match this exact configuration. Do not let that stop you from seeking information from our Network. If there is a specific role or area you would like to explore and we do not have anyone in the Network, please contact us and we will find you a connection.</p>
      <p>Please contact karen@thepelikangroup.com</p>
    </div>
  </div>
</div>


<div class="about_container_2">
  <h1 id='network_over'>Network Overview</h1>
  <div class="row">
    <div class="small-12 medium-12 large-4 columns" id="about-box">
      <h1><i id='search' class="fa fa-search fa-lg"></i></h1>
      <h3>Search</h3>
      <p>We divided our Network into 5 main Finance Categories and 3 Levels of Experience. The professionals in the Network were carefully chosen to represent different roles and titles,various companies, 3 levels of experience, locations throughout the world, and different areas of expertise – in career path and skill set.</p>
      <p>If you are not sure which category to select, research the different areas to find one that matches your skills set and interest. If you are still not sure, make a connection with one of our Network professionals – they can help guide you to a career in Finance.</p>
      <h6>To see the Finance Categories</h6>
      <button id='my-button' type="button">Click Me!</button>
      <div id="element_to_pop_up">
        <div class='row' id="popup-box">
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Corporate Finance Roles</h3>
            <ul class="popup-subtopic-list">
              <li>Corporate Strategy</li>
              <li>Corporate Finance</li>
              <li>Corporate Tax</li>
              <li>Corporate Development</li>
              <li>Financial Analyst</li>
              <li>Investor Relations</li>
              <li>Risk Management</li>
              <li>Compliance</li>
              <li>Analytics</li>
              <li>Economist</li>
              <li>Treasury</li>
              <li>Procurement</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'> Investment/Wholesame Banking (Sell Side)</h3>
            <ul class="popup-subtopic-list">
              <li>Equity Research</li>
              <li>Credit/Fixed Income Research</li>
              <li>Operations</li>
              <li>Prime Brokerage</li>
              <li>Trade Finance</li>
              <li>International Finance</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'> Investment Banking(IB - Front Office)</h3>
            <ul class="popup-subtopic-list">
              <li>M&A</li>
              <li>Industry (Advisory)</li>
              <li>ECM</li>
              <li>DCM</li>
              <li>Leveraged Finance (mostly US)</li>
              <li>Corporate Banking</li>
              <li>Real Estate Finance</li>
            </ul>
          </div>
        </div>
        <div class='row'>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Sales & Tranding(S&T - Front Office)</h3>
            <ul class="popup-subtopic-list">
              <li>Equities</li>
              <li>Fixed Income</li>
              <li>Foreign Exchange</li>
              <li>Derivatives/Structured Products</li>
              <li>Commodities</li>
              <li>Quants</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Asset Management (Buy Side)</h3>
            <ul class="popup-subtopic-list">
              <li>Private Equity</li>
              <li>Pension Funds</li>
              <li>Hedge Funds</li>
              <li>Venture Capital</li>
              <li>Global Asset Management</li>
              <li>High Net Worth Clients (Private Banking)</li>
              <li>Financial Advisors</li>
              <li>Portfolio Management</li>
            </ul>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <h3 class='popup_header_text'>Other Exciting Roles in Finance</h3>
            <ul class="popup-subtopic-list">
              <li>Entrepreneurs/Start-Ups</li>
              <li>Teaching & Training</li>
              <li>Commercial Banking</li>
              <li>Management Consulting & Accounting Firms - Financial Services Advisory Groups</li>
              <li>Government Finance</li>
              <li>Financial Media</li>
              <li>Student Ambassadors (Global MBA students and Undergrads)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-12 large-4 columns" id="about-box">
      <h1><i id='pointer' class="fa fa-hand-pointer-o fa-lg"></i></h1>
      <h3>Select</h3>
      <p>Review the profiles that interest you and select one or more professionals that can provide you with the career answers you need to make the best decision possible.</p>
      <p>Pay close attention to the number of years of experience. If you are just starting your career, we recommend that you speak with a professional that has 1-5 years of experience. These professionals will have an excellent idea of the challenges you are facing and their advice will be most relevant to your current situation.</p>
    </div>
    <div class="small-12 medium-12 large-4 columns" id="about-box">
      <h1><i id='pointer' class="fa fa-globe fa-lg"></i></h1>
      <h3>Connect</h3>
      <p>You searched the Network and found the best finance category and person(s) to speak with about your career.</p>
      <p>You will be asked to sign in at this point. We want to make sure that we can contact you if there is a scheduling issue. Everyone in the Network is a busy professional and it is always business first. Also, once you have your dream role, we may invite you to be part of the Network to share your story with other people.</p>
    </div>
  </div>
</div>




  <div class="container" id="about-container">

    <p>The informational interview and network connection is one of the most effective ways for you to differentiate yourself from other applicants in the very competitive Finance job market.</p>

    <h2>3 Ways to tailor your search of the Network</h2>
    <h3>by Location</h3>
    <p>Locations currently represented by the Network:</p>
    <p>Toronto, Calgary, Vancouver, NYC, London, Singapore, Hong Kong, Houston, San Francisco, UAE, Montreal, Shanghai, Boston</p>
    <h2>by Level</h2>
    <p>1-5 years in Finance : ideal for students or new professionals looking to speak about the interview process, skills, certifications, ideal candidate profiles, those first few months, summer internships, the steps needed to be successful at the office</p>

    <p>5-15 years of Experience : ideal for current Finance professionals that are looking for promotion or performance management advice, in depth conversations about career paths, or advice about corporate or company issues</p>

    <p>15 + years as a professional : ideal for professionals or students who would like information about the Finance industry as a whole, leadership advice, or in depth conversations about career opportunities
    </p>

  </div>
</div>