
<header id="about_hero">
  <div class="row" id="about-subtext">
    <p>Differentiate yourself in a competitive market</p>
  </div>
</header>

<div id="about_parallax_content">
  <div class="about_container_2">
    <p id="about-header">3 Simple Steps</p>
    <div class="row">
      <div class="small-12 medium-12 large-4 columns" id="about-box">
        <h2><i id='search' class="fa fa-search"></i></h2>
        <h3>Search</h3>
        <ul class='search-list'>
          <li>Over 100 professionals on the HOB NOB Network</li>
          <li>Use any GET NETWORKING! button to search</li>
          <li>Everyone has a great story to share with you</li>
          <li>Refine your search by area of expertise, level of experience,
            and location</li>
        </ul>
        <div class="steps-links">
          <button id='area_of_expertise' class="steps-link">AREAS OF EXPERTISE(5)</button>
          <button id='locations' class="steps-link">LOCATIONS</button>
          <button id='years' class="steps-link">YEARS OF EXPERIENCE(3)</button>
        </div>
      </div>

      <div class="small-12 medium-12 large-4 columns" id="about-box">
        <h2><i id='pointer' class="fa fa-hand-pointer-o fa-lg"></i></h2>
        <h3>Select</h3>
        <ul class='search-list'>
          <li>Review your search profiles</li>
          <li>Check available dates & times</li>
          <li>Select professionals that have the expertise you want</li>
          <li>Think about the answers you seek and select a professional that best meets your needs</li>
        </ul>
        <div class="steps-links">
          <button id='questions' class="steps-link">POSSIBLE QUESTIONS</button>
        </div>
      </div>


      <div class="small-12 medium-12 large-4 columns" id="about-box">
        <h2><i id='pointer' class="fa fa-globe fa-lg"></i></h2>
        <h3>Connect</h3>
        <ul class='search-list'>
          <li>You searched the network</li>
          <li>You selected the professionals you wanted to speak with</li>
          <li>You verified your availability</li>
          <li>The last steps: secure the connection by clicking GET
              CONNECTED, MY BRIEFCASE, and then click CHECK OUT</li>
        </ul>
        <div class="steps-links">
          <button id='fees' class="steps-link">FEES</button>
        </div>
      </div>
    </div>
  </div>

  <div class="steps-info-box" id="steps-box-categories">
    <p class="steps-info-header">Areas of Expertise</p>
    <p class="steps-info">We represented the Finance Industry in this format knowing that job titles, roles, and locations might change and we recognize that some companies have different titles and structures and may not match this exact configuration. Do not let that stop you from seeking information from our Network. If you don't see what you are looking for, please contact info@hobnob.global and we will find you a professional to answer your questions.</p>
    <div class="small-12 medium-12 large-12 columns">
      <div class='row'>
        <div class="small-12 medium-12 large-4 columns">
          <div class="row">
            <p class='popup_header_text'>Corporate Finance </p>
            <ul class="popup-subtopic-list">
              <li>Corporate Strategy</li>
              <li>Corporate Tax</li>
              <li>Corporate Development</li>
              <li>Corporate Financial Planning & Analysis </l1>
              <li>Financial Sales</li>
              <li>Investor Relations</li>
              <li>Risk Management</li>
              <li>Compliance</li>
              <li>Analytics</li>
              <li>Economics</li>
              <li>Treasury</li>
            </ul>
          </div>
          <div class="row">
            <p class='popup_header_text'>Asset Management(Buy Side)</p>
            <ul class="popup-subtopic-list">
              <li>Private Equity</li>
              <li>Institutional Asset Management(pension funds,endowment funds,etc.)</li>
              <li>Hedge Funds</li>
              <li>Venture Capital / Angel Investment</li>
              <li>Global Asset Management</li>
              <li>High Net Worth Clients (Private Banking)</li>
              <li>Financial Advisors</li>
              <li>Portfolio Management</li>
            </ul>
          </div>
        </div>
        <div class="small-12 medium-12 large-4 columns">
          <div class="row">
            <p class='popup_header_text'> Investment Bank/Capital Markets (sell side)</p>

            <ul class="popup-subtopic-list">
              <li class='popup_sub_header'>Investment Banking(IB - Front Office)</li>
              <li>M&A(Product) and Industry (Advisory)</li>
              <li>ECM and DCM</li>
              <li>Leveraged Finance (mostly US)</li>
              <li>Corporate Banking</li>
              <li>Real Estate Finance</li>
            </ul>
            <ul class="popup-subtopic-list">
              <li class='popup_sub_header'> Sales & Trading (S&T - Front Office)</li>
              <li>Equities</li>
              <li>Fixed Income</li>
              <li>Commodities</li>
              <li>Quantitative Finance</li>
              <li>Foreign Exchange</li>
              <li>Derivatives/Structured Products</li>
            </ul>
            <ul class="popup-subtopic-list">
              <li class='popup_sub_header'> Other areas of Investment/Wholesale Banking</li>
              <li>Equity Research</li>
              <li>Credit/Fixed Income Research</li>
              <li>Operations (Middle & Back office)</li>
              <li>Prime Brokerage</li>
              <li>Trade Finance</li>
              <li>International Finance</li>
            </ul>
          </div>
        </div>
        <div class="small-12 medium-12 large-4 columns">
          <div class="row">
            <p class='popup_header_text'>Other Areas of Expertise in Finance</p>
            <ul class="popup-subtopic-list">
              <li>Entrepreneurs/Start-Ups</li>
              <li>Teaching & Training</li>
              <li>Corporate & Commercial Banking</li>
              <li>Management Consulting & Accounting Firms - Financial Services</li>
              <li>Advisory Groups</li>
              <li>Government Finance</li>
              <li>Financial Media</li>
              <li>Student Ambassadors (Global MBA students and Undergrads)</li>
            </ul>
          </div>
        </div>
        <div class="small-12 medium-12 large-4 columns">
          <div class="row">
            <p class='popup_header_text'>Resume & Interview Preparation</p>
              <ul class="popup-subtopic-list">
                <li>(each of these sessions are 1 hour and require extra pre-work) Designated experts in this area have experience working with investment Banks and Finance divisions on both Wall Street and Bay Street</li>
                <li>Resume Review and Enhancements</li>
                <li>Interview Preparation (for a specific interview or general guidelines)</li>
                <li>Overall Career Guidance</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="steps-info-box" id="steps-box-locations">

        <p class="steps-info-header">Locations</p>
        <p class="steps-info">We are launching Hob Nob with plans to expand to other global financial centres around the world. Most of our current Network professionals live and work in Toronto area. There are some professionals that work, or have worked, in other parts of the world and will be able to provide some insight about working in that location and about how they found that opportunity.</p>
        <ul>
          <li><span id='toronto'>Toronto</span> * Calgary * Vancouver * Montreal</li>
          <br>
          <li>New York City * Houston * San Francisco * Boston * Chicago </li>
          <br>
          <li>London * Singapore * Hong Kong * Dubai * Shanghai</li>
          <br>
          <li>Locations soon to be added: </li>
          <li>Tokyo * Singapore * Zurich * Seoul * Washington D.C * Frankfurt * Sydney </li>
        </ul>
      </div>
      <div class="line-break"></div>
      <div class="steps-info-box" id="steps-box-years">
        <p class="steps-info-header">Years of Experience</p>
        <p class="steps-info"></p>
        <div class="small-12 medium-12 large-12 columns">
         <div class='row'>
          <div class="small-12 medium-12 large-4 columns">
            <div class="triple-box">
              <p class='box-subheader'>1-5 YEARS OF EXPERIENCE </p>
              <p class="box-info-text">Network professional will have up to 5 years of Finance experience in one or more areas of expertise. They still remember the interview process and how challenging it is to decide what to do after graduation. They can speak with you about summer internships, what companies look for in a good candidate, and share insights about what to expect in the interview process.</p>

              <p class='small-info-text'>Highly recommended for students & newly hired professionals</p>
            </div>
          </div>

          <div class="small-12 medium-12 large-4 columns">
            <div class="triple-box">
              <p class='box-subheader'>5-15 YEARS OF EXPERIENCE </p>
              <p class="box-info-text">Network professional will have between 5 and 15 years of experience in various categories or at the same company with different titles and responsibilities.</p>
              <p class="box-info-text">They can speak to you about promotion or performance management advice,career paths, or advice about office issues. </p>

              <p class='small-info-text'>Highly recommended for working professionals & students wanting to understand a career path in a certain Finance area</p>

            </div>
          </div>
          <div class="small-12 medium-12 large-4 columns">
            <div class="triple-box">
              <p class='box-subheader'>15+ YEARS OF EXPERIENCE </p>
              <p class="box-info-text">Network professional will have over 15+ years of experience in various different categories and a diverse list of titles and stories about themselves and the industry they work in.</p>
              <p class="box-info-text">They can speak with you about the industry direction, leadership, any your career path. </p>
              <p class='small-info-text'>Highly recommended for working professionals & students that want information and guidance about Finance industry.</p>
            </div>
          </div>
        </div>
        <div class="line-break"></div>
      </div>

    </div>

    <div class="steps-info-box" id="steps-box-questions">
      <p class="steps-info-header">Possible Questions</p>
      <p class="steps-info"></p>
      <div class="small-12 medium-12 large-12 columns">
       <div class='row'>

        <div class="small-12 medium-12 large-6 large-centered columns">
          <div class="row">
            <ul class="possible-questions-list">
              <li>What are your preliminary job responsibilities?</li>
              <li>What experience,if any, did you have to get your job?</li>
              <li>What is a typical work day like? Is there a typical day?</li>
              <li>How much client contact do you have?</li>
              <li>Does your job require that you travel?</li>
              <li>What do you like/dislike most about your work?</li>
              <li>What do you wish you had known about your role before you started?</li>
              <li>What is the size and makeup of your organization?</li>
              <li>What do you see as the major issues/trends in the field today?</li>
              <li>What books or journals would you recommend that I read?</li>
              <li>Which professional associations should I join?</li>
              <li>Do you recommend that I enroll in any particular classes or get any specific certifications?</li>
              <li>What opportunities for advancement are there in the field?</li>
              <li>What would be a typical next career move for someone in my position?</li>
              <li>What recommendations do you have for me regarding a job search strategy?</li>
              <li>Are there other people on the Hob Nob Network toy suggest that I speak with?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="steps-info-box" id="steps-box-fees">

    <p class="steps-info-header">Fees</p>

    <p class="steps-info" id="fees-info">Each connection is 30 minutes</p>
    <div class="small-12 medium-12 large-12 columns">
     <div class='row'>
      <div class="small-12 medium-12 large-4 columns">
        <div class="triple-box">
          <p class="box-info-text">You will be provided with a call in number as well as a confirmation calendar invite </p>

          <p class="box-rate">$40/30 minute session </p>
          <p class="box-rate">STUDENT RATE is $30/30 minute session </p>

          <p class="box-info-text">Includes professionals on the Network from all locations and from all seas of expertise with up to 15 years of experience </p>
        </div>
      </div>
      <div class="small-12 medium-12 large-4 columns">
        <div class="triple-box">
          <p class="box-info-text">If you select a professional from the Network with more than 15 years of experience </p>

          <p class="box-rate">$60/30 minute session </p>
          <p class="box-rate">STUDENT RATE is $50/30 minute session </p>

          <p class="box-info-text">A 15 minute prep session will be arranged to ensure that you get the most value from the call </p>
        </div>
      </div>
      <div class="small-12 medium-12 large-4 columns">
        <div class="triple-box">
          <p class="box-info-text">ALL resume review and interview prep sessions with an expert from that Area of Expertise are 60 minutes </p>

          <p class="box-rate">$60/60 minute session </p>
          <p class="box-rate">STUDENT RATE is $50/60 minute session </p>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="container" id="about-container">
  <p>If there is a specific role or area you would like to explore and we do not have anyone in the Network, please
    contact us and we will find you a connection. Please contact karen@thepelikangroup.com</p>
  </div>
  <div id="pelikan-logo">
    <img src="/assets/pelikan_logo.png"/>
  </div>

  <footer class="footer" id="parallax-footer">
    <p class="slogan"><img id="nav_logo" src="/assets/hn_logo_small.png"/></p>
    <div class="links">
      <%= link_to "Home", root_path %>
      <p>  •  </p>
      <%= link_to "About", about_path %>
      <p>  •  </p>
      <%= link_to "Network", advisors_path %>
      <p>  •  </p>
      <%= link_to "The Network's Charities", " http://www.thepelikangroup.com/charities.html" , :target => "_blank" %>
    </div>
    <p class="copywrite">Pelikan Group Inc.</p>
  </footer>
</div>
</div>

