<header class="hero">
  <div class="row">
    <div class="large-12 columns" id="home_header">
      <h1>HOB NOB</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-6 large-offset-4 columns" id="home_subheader">
      <h3><strong>Empowering individuals to
        make strong career decisions today and in the future</strong></h3>
      </div>
    </div>

    <div class="row">
      <div class="large-4 large-offset-6" id='get_networking'>
      <a class="network_button" href="">GET NETWORKING</a>
    </div>
  </div>

  </header>

  <div class='home_body_1'>
    <div class="row">
      asdadasdas
      <div class="large-6 large-offset-4 columns">
      </div>
    </div>
  </div>

  <div class='home_body_2'>
    <div class="row">
      <div class="large-6 large-offset-4 columns">
      </div>
    </div>
  </div>

