<header class="hero">
  <div class="row">
    <div class="large-12 columns" id="home_header">
      <h1>HOB NOB</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-6 large-offset-4 columns" id="home_subheader">
      <h3><strong>Empowering individuals to
make strong career decisions today and in the future</strong></h3>
    </div>
  </div>
</header>