<header class="hero">
  <div class="row">
    <div class="large-12 columns" id="home_header">
      <h1>HOB NOB</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-6 large-offset-4 columns" id="home_subheader">
      <h3><strong>Empowering individuals to
        make strong career decisions today and in the future</strong></h3>
      </div>
    </div>

    <div class="row">
      <div class="large-4 large-offset-6" id='get_networking'>
      <a class="network_button" href="">GET STARTED NOW</a>
    </div>
  </div>

  </header>

<div class="container">

  <div class="row">
    <div class="small-12 medium-4 large-4 columns">
      <div class="home-subheader">
        <h2>Services</h2>
        <p>Tailored to meet your career needs. Find out how to differentiate yourself in a competitive environment.</p>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="home-subheader">
        <h2>The Network</h2>
        <p>A network of finance professionals that have volunteered their time and expertise to speak with you about your career.</p>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <div class="home-subheader">
        <h2>Getting Connected</h2>
        <p>Start searching our exclusive network for a professional that has the information you are seeking.</p>
      </div>
    </div>
  </div>

</div>