<header class="hero">
  <div class="row">
    <div class="large-6  columns">
      <h1>HOB NOB</h1>
      <br>
      <h3><strong>Information and knowledge is the path to empower individuals to
make strong career decisions today and in the future</strong></h3>
    </div>
  </div>
</header>