<h1>Network Overview</h1>

<p>The informational interview and network connection is one of the most effective ways for you to differentiate yourself from other applicants in the very competitive Finance job market.</p>

<p>3 Ways to tailor your search of the Network</p>
<p>by Location</p>
<p>Locations currently represented by the Network:</p>
<p>Toronto, Calgary, Vancouver, NYC, London, Singapore, Hong Kong, Houston, San Francisco, UAE, Montreal, Shanghai, Boston</p>
<p>by Level</p>
<p>1-5 years in Finance : ideal for students or new professionals looking to speak about the interview process, skills, certifications, ideal candidate profiles, those first few months, summer internships, the steps needed to be successful at the office</p>

<p>5-15 years of Experience : ideal for current Finance professionals that are looking for promotion or performance management advice, in depth conversations about career paths, or advice about corporate or company issues</p>

<p>15 + years as a professional : ideal for professionals or students who would like information about the Finance industry as a whole, leadership advice, or in depth conversations about career opportunities
</p>
<p>by Finance Category</p>
<p>Corporate Finance Roles</p>
<ul>
  <li>Corporate Strategy</li>
  <li>Corporate Finance</li>
  <li>Corporate Tax</li>
  <li>Corporate Development</li>
  <li>Financial Analyst</li>
  <li>Investor Relations</li>
  <li>Risk Management</li>
  <li>Compliance</li>
  <li>Analytics</li>
  <li>Economist</li>
  <li>Treasury</li>
  <li>Procurement</li>
</ul>
<p>Investment/Wholesame Banking (Sell Side)</p>
<ul>
  <li>Equity Research</li>
  <li>Credit/Fixed Income Research</li>
  <li>Operations</li>
  <li>Prime Brokerage</li>
  <li>Trade Finance</li>
  <li>International Finance</li>
</ul>
<p>Investment Banking(IB - Front Office)</p>
<ul>
  <li>M&A</li>
  <li>Industry (Advisory)</li>
  <li>ECM</li>
  <li>DCM</li>
  <li>Leveraged Finance (mostly US)</li>
  <li>Corporate Banking</li>
  <li>Real Estate Finance</li>
</ul>
<p>Sales & Tranding(S&T - Front Office)</p>
<ul>
  <li>Equities</li>
  <li>Fixed Income</li>
  <li>Foreign Exchange</li>
  <li>Derivatives/Structured Products</li>
  <li>Commodities</li>
  <li>Quants</li>
</ul>
<p>Asset Management (Buy Side)</p>
<ul>
  <li>Private Equity</li>
  <li>Pension Funds</li>
  <li>Hedge Funds</li>
  <li>Venture Capital</li>
  <li>Global Asset Management</li>
  <li>High Net Worth Clients (Private Banking)</li>
  <li>Financial Advisors</li>
  <li>Portfolio Management</li>
</ul>
<p>Resume & Interview Experts</p>
<ul>
  <li>Investment Banks and Finance Companies on both Wall Street and Bay Street</li>
</ul>
<p>Other Exciting Roles in Finance</p>
<ul>
  <li>Entrepreneurs/Start-Ups</li>
  <li>Teaching & Training</li>
  <li>Commercial Banking</li>
  <li>Management Consulting & Accounting Firms - Financial Services Advisory Groups</li>
  <li>Government Finance</li>
  <li>Financial Media</li>
  <li>Student Ambassadors (Global MBA students and Undergrads)</li>
</ul>

<p>* We have represented the Finance Industry in a general format. Job titles, roles, and locations are subject to change and do not represent every option within Finance. Some companies have different titles and structures and may not match this exact configuration.  If there is a specific role or area you would like to explore and we do not have anyone in the Network, please contact us and we will find you someone.  karen@thepelikangroup.com</p>






