<div class="row" id="ribbon-header">
</div>


<div id='success_div'>
  <div class="callout large primary">
    <div id='succ_text' class="row column text-center">
      <h1 class='succ_text'>Thank you for your purchase</h1>
      <h2 class='succ_text'>Please check your email for a confirmation </h2>
    </div>
  </div>
</div>