<div class="row" id="ribbon-header">
</div>
<div id="inactive-container">

<% if flash[:message] %>
<div class="row">
  <div class="small-12 medium-11 medium-centered large-10 large-centered columns">
    <div data-alert class="alert-box alert radius">
      <%= flash[:message] %>
    </div>
  </div>
</div>
<% end %>

</div>