<h1>Advisor Settings</h1>

<%= form_for @advisor do |f| %>
  <%= f.text_field :firstname, placeholder: "First Name" %>
  <div class="spacer"></div>
  <%= f.text_field :lastname, placeholder: "Last Name" %>
  <div class="spacer"></div>
