.button {
letter-spacing: 2px;
text-transform: uppercase;
}

.network_button {
color: #fff;
font-size: 1rem;
letter-spacing: 5px;
text-fill-color: transparent;
transition: all 0.2s ease;
}

#get_networking{
margin-top:2em;
border:solid white 3px;
padding: 1em;
text-align:center;
float: right;
}

#appointment_button{
  width: 178px;
  text-align:center;
}