.button {
letter-spacing: 2px;
text-transform: uppercase;
}

.network_button {
color: #fff;
font-size: 1rem;
letter-spacing: 5px;
text-fill-color: transparent;
transition: all 0.2s ease;
}

#get_networking{
margin-top:2em;
border:solid white 3px;
padding: 1em;
text-align:center;
float: right;
}

.book-appt-button {
  float: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .80em;
  border: 1px solid #203451;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-right: -.5em;
  margin-top: -1.5em;
  color: #fff;
  background-color: #203451;
  text-fill-color: #203451;
  transition: all 0.2s ease;
}

#calendar_button{
  letter-spacing: 0px;
  margin-top:20px;
  margin-left:18px;
}

#add_to_cart{
letter-spacing: 0px;
}

#create-appointment-btn {
  background-color: #203451;
}

#edit-profile-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  color: #203451;
  background-color: #B0B0B0;
}

#advisor-search-btn {
  float: right;
  background: none;
}
