.button {
letter-spacing: 2px;
text-transform: uppercase;
}

.network_button {
color: #fff;
font-size: 1rem;
letter-spacing: 5px;
text-fill-color: transparent;
transition: all 0.2s ease;
}

#get_networking{
margin-top:2em;
border:solid white 3px;
padding: 1em;
text-align:center;
float: right;
}

#book-appt-btn {
  float: right;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #C0C0C0;
}

#calendar-button-div {
  text-align: center;
}

#calendar_button {
  font-size: .85em;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  letter-spacing: 2px;
  background-color: #203451;
  color: #fff;
  border: 1px solid #203451;
  transition: all 0.2s ease;

}
#simple-cal {
  text-align: center;

}


#simple-cal a {
  font-size:1em;
  text-transform: uppercase;
  font-family: "Open Sans";
  letter-spacing: 2px;
  color: #C0C0C0;
  display: inline;
  font-weight: 300;

}

#table-holder table {
  width: 100%;
}
#simple-cal p {
  font-weight: 300;
  font-family: "Open Sans";
  font-size: 2.5em;
  display: inline;
  letter-spacing: 2px;
  color: #888888;
}
#simple-cal #previous-link {
  float: left;
  text-align: left;
}

#simple-cal #next-link {
  float: right;
  text-align: right;
}

#add_to_cart{
letter-spacing: 0px;
}

#create-appointment-btn {
  background-color: #203451;
}

#edit-profile-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  color: #203451;
  background-color: #B0B0B0;
  float: right;
}

#advisor-search-btn {
  float: right;
  background: none;
}

#profile-edit-appointment {
  display: inline;
  color: #004b7e;
}

#profile-delete-appointment {
  color: #004b7e;
}