.home-subheader {
  border: 1px solid white;
  height: 400px;
  padding: 1em;
  text-align: center;
}

.home-subheader h2 {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 100;
  margin-top: 2em;
  letter-spacing: 2px;
}

.home-subheader p {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 1.25em;
  margin-top: 2em;
}

.home-subheader a {
  color: #fff;
  border: 1px solid white;
  font-family: "Open Sans";
  font-size: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: -5px;
}