.home-subheader {
  border: 1px solid #D0D0D0;
  height: 400px;
  padding: 2em;
  text-align: center;
  margin-top: 1em;
  background-color: #fff;
}

.home-subheader h1 {
  color: #C0C0C0;
}

.home-subheader h3 {
  color: #004b7e;
  font-family: "Open Sans";
  font-weight: 300;
  margin-top: 1.75em;
  letter-spacing: 2px;
}

.home-subheader p {
  color: #D0D0D0;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.home-subheader .learn-more {
  font-family: "Open Sans";
  font-size: .9em;
  color: #004b7e;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #004b7e;
}


#home_header h1 {
color: #fff;
font-family: "Open Sans";
letter-spacing: 3px;
font-size: 5em;
}

#home_subheader {
text-align: right;
float: right;
margin-top: 1em;
}

#home_subheader h3 {
color: #fff;
font-family: "Open Sans";
font-weight: 100;

}
