#home-toggle-info {
  text-align: center;
  padding: 2em;
}

#home-toggle-info h1 {
  color: #004b7e;
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-weight: 300;
}

#home-toggle-info p {
  color: #404040;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-family: "Open Sans";
  font-weight: 300;
}

