<div class="small-12 medium-12 large-6 large-centered columns" id="asset_management_popup">
  <div class="row">
    <p class='popup_header_text'>Asset Management(Buy Side)</p>
    <ul class="popup-subtopic-list">
      <li>Private Equity</li>
      <li>Pension Funds</li>
      <li>Hedge Funds</li>
      <li>Venture Capital</li>
      <li>Global Asset Management</li>
      <li>High Net Worth Clients (Private Banking)</li>
      <li>Financial Advisors</li>
      <li>Portfolio Management</li>
    </ul>
  </div>
</div>