<div class="small-12 medium-12 large-6 large-centered columns popup_div" id="corporate_finance_popup_network_phone">
  <div class="row">
    <ul class="popup-subtopic-list">
      <li>Corporate Strategy</li>
      <li>Corporate Tax</li>
      <li>Corporate Development</li>
      <li>Corporate Financial Planning & Analysis</li>
      <li>Financial Sales</li>
      <li>Investor Relations</li>
      <li>Risk Management</li>
      <li>Compliance</li>
      <li>Analytics</li>
      <li>Economics</li>
      <li>Treasury</li>
    </ul>
  </div>
</div>