 <div class="small-12 medium-12 large-4 columns">
      <p class='popup_header_text'> Investment/Wholesale Banking (Sell Side)</p>
      <ul class="popup-subtopic-list">
        <h4 class='popup_sub_header'>Investment Banking(IB - Front Office)</h4>
        <li>M&A and Industry (Advisory)</li>
        <li>ECM and DCM</li>
        <li>Leveraged Finance (mostly US)</li>
        <li>Corporate Banking</li>
        <li>Real Estate Finance</li>
        <br>
        <h4 class='popup_sub_header'> Sales & Trading (S&T - Front Office)</h4>
        <li>Equities</li>
        <li>Fixed Income</li>
        <li>Commodities</li>
        <li>Quants</li>
        <li>Foreign Exchange</li>
        <li>Derivatives/Structured Products</li>
        <br>
        <h4 class='popup_sub_header'> Other areas of Investment/Wholesale Banking</h4>
        <li>Equity Research</li>
        <li>Credit/Fixed Income Research</li>
        <li>Operations (Middle & Back office)</li>
        <li>Prime Brokerage</li>
        <li>Trade Finance</li>
        <li>International Finance</li>
      </ul>
    </div>