<div class="small-12 medium-12 large-6 large-centered columns popup_div" id="investment_banking_popup">
  <div class="row">
    <p class='popup_header_text'> Investment Bank/Capital Markets(Sell Side)</p>

    <ul class="popup-subtopic-list">
      <li class='popup_sub_header'>Investment Banking(IB - Front Office)</li>
      <li>M&A (Product) and Industry (Advisory)</li>
      <li>ECM and DCM</li>
      <li>Leveraged Finance (mostly US)</li>
      <li>Corporate Banking</li>
      <li>Real Estate Finance</li>
    </ul>

    <ul class="popup-subtopic-list">
      <li class='popup_sub_header'>Sales & Trading (S&T - Front Office)</li>
      <li>Equities</li>
      <li>Fixed Income</li>
      <li>Commodities</li>
      <li>Quantitative Finance</li>
      <li>Foreign Exchange</li>
      <li>Derivatives/Structured Products</li>
    </ul>

    <ul class="popup-subtopic-list">
      <li class='popup_sub_header'>Other areas of Investment Bank/Capital Markets</li>
      <li>Equity Research</li>
      <li>Credit/Fixed Income Research</li>
      <li>Operations (Middle & Back office)</li>
      <li>Prime Brokerage</li>
      <li>Trade Finance</li>
      <li>International Finance</li>
    </ul>
  </div>
</div>