<div class="row">
  <p class='popup_header_text'>Other Areas of Expertise</p>
  <ul class="popup-subtopic-list">
    <li>Entrepreneurs/Start-Ups</li>
    <li>Teaching & Training</li>
    <li>Commercial Banking</li>
    <li>Management Consulting & Accounting Firms - Financial Services Advisory Groups</li>
    <li>Government Finance</li>
    <li>Financial Media</li>
    <li>Student Ambassadors (Global MBA students and Undergrads)</li>
  </ul>
</div>