<div class="small-12 medium-12 large-6 large-centered columns popup_div" id="other_finance_popup_network_phone">
  <div class="row">
    <ul class="popup-subtopic-list">
      <li>Entrepreneurs/Start-Ups</li>
      <li>Teaching & Training</li>
      <li>Corporate & Commercial Banking</li>
      <li>Management Consulting & Accounting Firms - Financial Services</li>
      <li>Advisory Groups</li>
      <li>Government Finance</li>
      <li>Financial Media</li>
      <li>Student Ambassadors (Global MBA students and Undergrads)</li>
    </ul>
  </div>
</div>