<div class="small-12 medium-12 large-6 large-centered columns popup_div" id="resume_interview_popup_network_phone">
  <div class="row">
    <ul class="popup-subtopic-list">
      <li>(Each of these sessions are 1 hour and require extra pre-work)</li>
      <li>Designated experts in this area have experience working with Investment Banks and Finance divisions on both Wall Street and Bay Street</li>
      <li> - Resume Review and Enhancements</li>
      <li> - Interview Preparation(for a specific interview or general guidelines)</li>
      <li> - Overall Career Guidance</li>
    </ul>
  </div>
</div>