<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">HOBNOB</p>
      <p class="links">
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Contact Us" %>
      </p>
      <p class="copywrite">© 2015 T-Tree</p>
    </div>
  </div>
</footer>